* {
  box-sizing: border-box;
}
Body {
Position: absolute;
Top: 0;
Left: 0;
}
.slide-fon {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.slide-blok {
  background-color: rgba(225, 27, 27, 0);
  height: 350px;
  position: absolute;
  left: 100px;
  right: 100px;
  display: flex;
  gap: 50px;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
}

.slide-blok::after {
  content: "";
  background-color: blue;
  position: absolute;
  width: 250px;
  height: 100%;
  right: 0px;
  transform: scale(-1, 1);
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.slide-blok::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 100%;
  left: 0px;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.blok-img-anime {
  animation-name: anime;
  animation-duration: 20s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 100px;

}
.blok-img {
  border-radius: 100px;
} 

@keyframes anime {
  0% {
    transform: translateX(1500px);
  }

  100% {
    transform: translateX(-1500px);
  }
}

