@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.headers {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2745098039);
  -webkit-box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.8705882353);
          box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.8705882353);
}
.headers .logo {
  letter-spacing: 2px;
  font-family: "roboto slab";
  font-size: 1rem;
  text-transform: uppercase;
}
.headers .logo_accent {
  -webkit-box-shadow: inset 0px 0px 5px 2px rgb(159, 10, 5);
          box-shadow: inset 0px 0px 5px 2px rgb(159, 10, 5);
  display: inline-block;
  letter-spacing: 2px;
  border: 2px solid red;
  margin-right: 2px;
  margin-left: 17px;
  padding: 3px 3px 3px 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7960784314);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.headers .logo_accent:hover {
  -webkit-transform: scale(1.05, 1.051);
      -ms-transform: scale(1.05, 1.051);
          transform: scale(1.05, 1.051);
  color: #ffc401;
}
.headers .navbar {
  margin-right: 25px;
}
.headers .navbar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.headers .navbar-list_item {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.6745098039);
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.headers .navbar-list_item:focus {
  color: rgba(219, 0, 44, 0.858);
}
.headers .navbar-list_item:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  color: #ffc401;
}

.backfon {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 200px 200px rgb(0, 0, 0);
          box-shadow: inset 0px 0px 200px 200px rgb(0, 0, 0);
}
.backfon-img {
  -webkit-animation-name: backfon1;
          animation-name: backfon1;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  background-position: 10% 50%;
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary.jpg);
}
.backfon-img_overlay {
  background-color: #2d3651;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
}
@-webkit-keyframes backfon {
  0% {
    background-position: 15% 50%;
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.8;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  66% {
    opacity: 0.9;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    background-position: 90% 50%;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes backfon {
  0% {
    background-position: 15% 50%;
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.8;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  66% {
    opacity: 0.9;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    background-position: 90% 50%;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes backfon1 {
  0% {
    background-position: 0% 50%;
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.8;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  66% {
    opacity: 0.9;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    background-position: 100% 50%;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes backfon1 {
  0% {
    background-position: 0% 50%;
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.8;
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  66% {
    opacity: 0.9;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  98% {
    opacity: 1;
  }
  99% {
    opacity: 0.3;
  }
  100% {
    background-position: 100% 50%;
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}
.content .content-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.content .content-bar_button {
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-box-shadow: inset 0px 4px 5px 0px rgb(177, 177, 177);
          box-shadow: inset 0px 4px 5px 0px rgb(177, 177, 177);
  width: 163px;
  height: 39px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 50, 50, 0.655)), to(rgba(45, 54, 81, 0.6156862745)));
  background: -o-linear-gradient(bottom, rgba(51, 50, 50, 0.655), rgba(45, 54, 81, 0.6156862745));
  background: linear-gradient(to top, rgba(51, 50, 50, 0.655), rgba(45, 54, 81, 0.6156862745));
  border: 1.5px solid rgba(45, 54, 81, 0.6156862745);
  text-align: center;
  color: #dfdfdf;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}
.content .content-bar_button:hover {
  background-color: rgba(248, 183, 5, 0.7921568627);
  color: #ffffff;
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}
.content .content-title_text {
  display: inline-block;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  text-decoration: none;
  letter-spacing: 1em;
  color: #ffffff;
  font-size: 4.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  border-top: 1.5px solid rgb(255, 251, 251);
  border-bottom: 1.5px solid rgb(255, 255, 255);
  font-family: "roboto slab";
  -webkit-animation: header-title;
          animation: header-title;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.content .content-title_text--accent {
  -webkit-animation: header-title-accent;
          animation: header-title-accent;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: inline-block;
}
.content .content-title_text--accent_2 {
  -webkit-animation: header-title-accent_2;
          animation: header-title-accent_2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: inline-block;
}

@-webkit-keyframes header-title-accent {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  96% {
    opacity: 0.1;
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
  98% {
    opacity: 0.1;
  }
  99% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-title-accent {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  96% {
    opacity: 0.1;
  }
  97% {
    opacity: 1;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
  98% {
    opacity: 0.1;
  }
  99% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes header-title-accent_2 {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: 0.1;
  }
  4% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes header-title-accent_2 {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: 0.1;
  }
  4% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes header-title {
  0% {
    opacity: 1;
    color: rgb(177, 0, 0);
  }
  50% {
    color: rgb(214, 34, 34);
  }
  97% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  98% {
    opacity: 0.2;
  }
  99% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  100% {
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
}
@keyframes header-title {
  0% {
    opacity: 1;
    color: rgb(177, 0, 0);
  }
  50% {
    color: rgb(214, 34, 34);
  }
  97% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  98% {
    opacity: 0.2;
  }
  99% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
  100% {
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
}
.navbar-list_item--home {
  color: #ffffff;
}

.footer-backfon {
  height: 70vh;
  margin: 10px 0px 0px 0px;
  position: relative;
}

.img {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary4.jpg);
  background-attachment: fixed;
  background-position: 25% 10%;
  height: inherit;
  z-index: -1;
}
.img_overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  width: inherit;
  height: inherit;
  -webkit-box-shadow: inset 0px 0px 50px 50px black;
          box-shadow: inset 0px 0px 50px 50px black;
}

.slide-fon {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 55%;
  position: absolute;
  z-index: 1;
  top: 22.5%;
}

.slide-blok {
  height: 100%;
  position: absolute;
  left: 50%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 50px;
  background-color: rgba(240, 248, 255, 0);
}

.slide-blok::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.slide-blok::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.blok-img-anime {
  -webkit-animation-name: anime;
          animation-name: anime;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border-radius: 100px;
}

@-webkit-keyframes anime {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}

@keyframes anime {
  0% {
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}
.blok-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 100px;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
section {
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4823529412);
  overflow: hidden;
}
section .skills {
  display: grid;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  /* высота столбцов */
  grid-template-rows: 33.3vh 33.3vh 33.3vh;
  /* ширина столбцов */
  grid-template-columns: repeat(25%);
  padding: 5px 5px 5px 5px;
}
section .skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  margin: 3px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px rgb(10, 10, 10);
          box-shadow: 2px 2px 2px rgb(10, 10, 10);
  border-radius: 11px;
}
section .skills-item-backfon {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
section .skills-button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .skills-button_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 163px;
  height: 39px;
  color: rgba(255, 255, 255, 0.87);
  background: rgba(31, 47, 93, 0.662745098);
  border: 1px solid #1e3065;
  -webkit-box-shadow: inset 0px 0px 1px 2px black;
          box-shadow: inset 0px 0px 1px 2px black;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  border-radius: 5px;
}
section .skills-button_action:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.655)), to(rgba(45, 54, 81, 0.616)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.655), rgba(45, 54, 81, 0.616));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.655), rgba(45, 54, 81, 0.616));
  color: rgb(0, 0, 0);
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.skills-title {
  font-size: 20px;
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.843);
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  padding: auto;
}

.backfon-overlay {
  -webkit-box-shadow: inset 0px 0px 20px 15px rgb(0, 0, 0);
          box-shadow: inset 0px 0px 20px 15px rgb(0, 0, 0);
  background-color: rgb(45, 54, 81);
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.skills-item_a1 {
  grid-area: a1;
}

.skills-item_a2 {
  grid-area: a2;
}

.skills-item_a3 {
  grid-area: a3;
}

.skills-item_a4 {
  grid-area: a4;
}

.skills-item_a5 {
  grid-area: a5;
}

.skills-item_a6 {
  grid-area: a6;
}

.skills-item_a7 {
  grid-area: a7;
}

.skills-item_a8 {
  grid-area: a8;
}

.skills-item_a9 {
  grid-area: a9;
}

.item-backfon_a1 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a2 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a3 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a4 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a5 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a6 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a7 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a8 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a9 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-size: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-backfon_a1 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/1231231223.jpeg);
  background-position: 50% 50%;
}

.item-backfon_a2 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/skull777.jpg);
}

.item-backfon_a3 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/IMG_7205.jpg);
  background-size: cover;
  background-position: 50% 80%;
}

.item-backfon_a4 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/IMG_1575.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.item-backfon_a5 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/skull.jpg);
  background-position: 50% 50%;
}

.item-backfon_a6 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/IMG_0905.jpg);
  background-position: 47% 50%;
}

.item-backfon_a7 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary3.jpg);
}

.item-backfon_a8 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/IMG_7238.jpg);
  background-position: 50% 60%;
}

.item-backfon_a9 {
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary5.jpg);
}

.skills-item:hover .skills-title {
  color: #ffc401;
}

.skills-item:hover .skills-backfon {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.skills-item:hover .backfon-overlay {
  opacity: 0.75;
}

.three {
  width: 100%;
  height: 50vh;
  background-color: rgb(255, 149, 0);
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/wallpapersden.com_it-chapter-two-movie-2019-art_2560x1700.jpg);
  background-position: 50% 25%;
  background-size: cover;
  bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  -webkit-animation-name: scarymoment;
          animation-name: scarymoment;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scarymoment {
  0% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  97% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scarymoment {
  0%{
opacity: 0;
  }
  44%{
    opacity: 0;
  }
  45%{
    opacity: 1;
  }
  46%{
    opacity: 0;
  }
  47%{
    opacity: 1;
  }
   48%{
opacity: 0;
  }
   49%{
opacity: 1;
  }
   50%{
opacity: 0;
  }

  95%{
    opacity: 1;
  }
  96%{
    opacity: 0;
  }
  97%{
    opacity: 1;
  }
   98%{
opacity: 0;
  }
   99%{
opacity: 1;
  }
   100%{
opacity: 0;
  }
}

html {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7450980392);
}

header {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: rgb(0, 0, 1);
  padding-top: 0px;
  margin-top: 0px;
}

@media (max-width: 575.8px) {
  .headers {
    min-height: 4.5vh;
    background: rgba(13, 16, 27, 0.6039215686);
  }
  .headers .navbar-list_item {
    display: none;
  }
  .backfon-img {
    background-position: 50% 50%;
    -webkit-animation-name: backfon;
            animation-name: backfon;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary.jpg);
  }
  .content .content-bar_button {
    width: 29vw;
    height: 4vh;
    font-size: 0.9em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .content .content-title_text {
    font-weight: 400;
    font-size: 2em;
  }
  .footer-backfon {
    height: 70vh;
    margin: 5px 5px 0px 5px;
  }
  .img {
    background-position: 25% 60%;
  }
  .slide-fon {
    height: 35%;
    top: 32.5%;
  }
  .slide-blok {
    left: 15px;
    right: 15px;
    border-radius: 70px;
  }
  .slide-blok::after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .slide-blok::before {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .blok-img-anime {
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
  }
  .blok-img {
    border-radius: 70px;
    max-height: 100%;
    max-width: 100%;
  }
  section .skills {
    display: grid;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
    /* высота столбцов */
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh;
    /* ширина столбцов */
    grid-template-columns: repeat(50vw);
    gap: 1px;
    /* padding: 10px; */
  }
  .item-backfon_a1 {
    background-position: 50% 30%;
  }
  .item-backfon_a5 {
    background-position: 40% 50%;
  }
  .item-backfon_a6 {
    background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary3.jpg);
  }
  .item-backfon_a7 {
    background-position: 50% 50%;
    background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/IMG_0905.jpg);
  }
  .item-backfon_a9 {
    background-position: 50% 50%;
  }
  .three {
    background-position: 50% 70%;
  }
}
