* {
  box-sizing: border-box;
}
:root {
  --color-primary: #2d36519d;
}
html {
  font-size: 16px;
  color: #ffffffbe;
}
header {
  height: 100vh;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin-top: 0px;
  margin-left: 0px;
}
.backfon {
  animation-name: backfon;
  animation-duration: 11s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-image: url(./img/img-header.png);
}

@keyframes backfon {
  0% {
    transform: scale(1.5, 1.5);
    opacity: 0.9;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.overlay {
  background-color: #2d3651;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0.6;
}

.header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.content-title_text {
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "roboto slab";
  transition: 1s;
}
.content-title_text:hover {
  color: #170e05;
  letter-spacing: 5px;
  text-decoration: underline;
}
.header-navbar {
  margin-right: 25px;
}
.navbar-list {
  list-style: none;
  display: flex;
  gap: 15px;
}
.navbar-item {
  font-family: "roboto slab";
  font-size: 1em;
  color: #ffffffac;
  text-decoration: none;
  transition: 0.5s;
}
.navbar-item_home {
  color: #ffffff;
}

.navbar-item:focus {
  color: rgba(219, 0, 44, 0.858);
}
.navbar-item:hover {
  transform: scale(1.1, 1.1);
  color: #ffc401;
}

.header-logo {
  letter-spacing: 2px;
  font-family: "roboto slab";
  font-size: 1rem;
  text-transform: uppercase;
}
.header-logo_accent {
  display: inline-block;
  letter-spacing: 2px;
  border: 2px solid red;
  margin-right: 2px;
  margin-left: 17px;
  padding: 3px 3px 3px 4px;
  text-decoration: none;
  color: #ffffffcb;
  transition: 0.5s;
}
.header-logo_accent:hover {
  transform: scale(1.05, 1.051);
  color: #ffffff;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}
.content-bar_button {
  gap: 30px;
  width: 163px;
  height: 39px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.655),
    var(--color-primary)
  );
  border: 1.5px solid rgba(255, 255, 255, 0.756);
  text-align: center;
  color: #ffffffd7;
  transition: 1s;
  border-radius: 5px;
}

.content-bar_button:hover {
  background-color: #f8b705da;
  color: #e0e0df;
  transform: scale(1.05, 1.05);
  text-decoration: underline;
}
.content-bar {
  display: flex;
  gap: 10px;
}

/* MAIN */

section {
  position: absolute;
  right: 0px;
  left: 0px;
  background-color: #ffffff;
  overflow: hidden;
}
.skills {
  display: grid;
  grid-template-areas:
    "a1 a1 a2 a3"
    "a4 a5 a5 a6"
    "a7 a8 a9 a6";
  grid-template-rows: 33.33vh 33.33vh 33.33vh;
  grid-template-columns: repeat(25%);
  /* gap: 5px; */
  padding: 5px 5px 5px 5px;
}
.skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: red;
  margin: 3px;
  overflow: hidden;
}

.skills-item_a1 {
  grid-area: a1;
}
.skills-item_a2 {
  grid-area: a2;
}
.skills-item_a3 {
  grid-area: a3;
}
.skills-item_a4 {
  grid-area: a4;
}
.skills-item_a5 {
  grid-area: a5;
}
.skills-item_a6 {
  grid-area: a6;
}
.skills-item_a7 {
  grid-area: a7;
}
.skills-item_a8 {
  grid-area: a8;
}
.skills-item_a9 {
  grid-area: a9;
}

.skills-backfon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.item-backfon_a1 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-html.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a2 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-css.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a3 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-markup.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a4 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-webdesign.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a5 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-qa.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a6 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-codding.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a7 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-adaptability.png);
  background-position: center;
  background-size: cover;
}
.item-backfon_a8 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('img/img/img-php.png');
  background-position: center;
  background-size: cover;
}
.item-backfon_a9 {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(img/img-seo.png);
  background-position: center;
  background-size: cover;
}

.skills-title {
  font-size: 20px;
  position: absolute;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.5s;
  padding: auto;
}

.backfon-overlay {
  background-color: #2d3651;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  transition: opacity 1s;
}
.skills-item:hover .skills-title {
  color: #ffc401;
}
.skills-item:hover .skills-backfon {
  transform: scale(1.1, 1.1);
}
.skills-item:hover .backfon-overlay {
  opacity: 0.9;
}
.skills-button {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-button_action {
  display: flex;
  width: 163px;
  height: 39px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2d3651c1;
  border: 1.5px solid #1e3065;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 5px;
}
.skills-button_action:hover {
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.655),
    var(--color-primary)
  );
  color: #000000;
  transform: scale(1.05, 1.05);
}

