.container{
 width: 100%;
 height: 100vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
 padding: 20px;
 box-sizing: border-box;
 overflow: hidden;
 @include sm{
  height: auto;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 0px;
  gap: 0px;
  padding: 10px;
  justify-content: flex-start;
 }
}

.container-text{
 text-shadow: 0px 0px 2px rgb(41, 41, 28),  0px 0px 2px rgb(58, 58, 35);
 font-size: 100%;
 height: auto;
 width: 70%;
 color: rgba(254, 255, 213, 0.717);
 overflow: hidden;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 text-align: justify;
 font-family:cursive;
 word-break: normal;
 @include sm{
  display: block;
  font-family: 'Roboto Serif', serif;
  width: 88%;
  height: auto;
  justify-content: flex-start;
  padding-top: 7px;
 }
 }

p::first-letter{
 padding-left: 20px;
 font-size: 1em;
 color: rgba(255, 255, 110, 0.881);
}

.container-text_h1{
 text-shadow: 10px 10px 20px rgb(254, 8, 0),  -10px -10px 18px rgb(254, 5, 5);
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-clip: text;
 text-transform: uppercase;
 letter-spacing: 3px;
 text-align: center;
 margin-bottom: 20px;
 color: rgb(0, 0, 0);
 animation: about-tex;
 animation-duration: 15s;
 animation-direction: alternate;
 animation-iteration-count: infinite;
 height: auto;
 margin-bottom: 30px;
 @include sm{
  font-size: 2em;
  text-align: center;
 }
}
.container-img{
 animation-name: img-zomby;
 animation-iteration-count: infinite;
 animation-duration: 18s;
 height: 100vh;
 width: 30%;
 overflow: hidden;
 background-position:center;
 background-repeat: no-repeat;
 background-size: 130%;
 @include sm{
  background-size: 40%;
  height: 50vh;
  width: 62%;
 }
}


@keyframes about-text {
 0%{
  text-shadow: 0px 0px 20px rgb(254, 8, 0),  -0px -0px 18px rgb(254, 5, 5);
   opacity: 0.2;
 }
 20%{
  text-shadow: 10px 10px 20px rgb(254, 8, 0),  -10px -10px 18px rgb(254, 5, 5);
   opacity: 1;
 }
 28%{
  text-shadow: 10px 10px 20px rgb(254, 8, 0),  -10px -10px 18px rgb(254, 5, 5);
  opacity: 1;
 }
 35%{
  text-shadow: 0px 0px 20px rgb(254, 8, 0),  -0px -0px 18px rgb(254, 5, 5);
   opacity: 0.1;
 }
 40%{
  text-shadow: 5px 10px 25px rgb(254, 8, 0),  -10px -5px 25px rgb(254, 5, 5);
   opacity: 1;
 }
 55%{
  text-shadow: 3px 5px 20px rgb(254, 8, 0),  -5px -3px 18px rgb(254, 5, 5);
   opacity: 0.8;
 }
 67%{
  text-shadow: 10px 10px 20px rgb(254, 8, 0),  -10px -10px 18px rgb(254, 5, 5);
  opacity: 1;
 }
 70%{
  opacity: 1;
}
70%{
 opacity: 1;
}
71%{
 opacity: 0;
}
72%{
 opacity: 1;
}
73%{
 opacity: 0;
}
74%{
 opacity: 1;
}

92%{
 text-shadow: -10px -10px 30px rgb(254, 8, 0),  10px 10px 30px rgb(254, 5, 5);
  opacity: 1;
}
 100%{
  opacity: 0;
 }
}


