.container{
 width: 100%;
 height: 100vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
 padding: 20px;
 box-sizing: border-box;
 @include sm{
  height: 100vh;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 0px;
  gap: 0px;
  padding: 10px;
  justify-content: flex-start;
 }
}

.container-text{
 text-shadow: 0px 0px 2px rgb(41, 41, 28),  0px 0px 2px rgb(58, 58, 35);
 font-size: 100%;
 height: auto;
 width: 70%;
 background-color: rgba(0, 255, 255, 0);
 color: rgba(255, 255, 255, 0.717);
 overflow: hidden;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 text-align: justify;
 font-family: cursive;
 word-break: normal;
 @include sm{
  display: block;
  font-family: 'League Gothic', sans-serif;
  width: 85%;
  height: auto;
  justify-content: flex-start;
  padding-top: 10px;
 }
 }

p::first-letter{
 padding-left: 20px;
 font-size: 1em;
 color: rgba(255, 255, 255, 0.881);
}

.container-text_h1{
 text-shadow: 0px 0px 12px rgb(254, 246, 0),  0px 0px 12px rgb(254, 5, 5);
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-transform: uppercase;
 letter-spacing: 2px;
 text-align: center;
 color: rgba(245, 245, 220, 0.897);
 @include sm{
  font-size: 1.5em;
  text-align: center;
 }
}

.container-img{
 animation-name: img-zomby;
 animation-iteration-count: infinite;
 animation-duration: 18s;
 height: 100%;
 width: 30%;
 overflow: hidden;
 background-position:center;
 background-repeat: no-repeat;
 background-size: 130%;
 @include sm{
  height: 30%;
  width: 30%;
 }
}


