

.container{
 width: 100%;
 height: 100vh;
 background-color: rgb(0, 0, 0);
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
 padding: 20px;
 box-sizing: border-box;
 @include sm{
  height: 80vh;
 }
}

.container-text{
 font-size: 100%;
 max-height: 100%;
 width: 70%;
 background-color: rgba(0, 255, 255, 0);
 color: rgba(255, 255, 255, 0.717);
 overflow: hidden;
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 text-align: justify;
 font-family: cursive;
 @include sm{
  font-family: 'Roboto Serif', serif;
 }
 }
p::first-letter{
 padding-left: 20px;
}
.container-text_h1{
 text-shadow: 5px 5px 7px rgb(115, 84, 81);
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: rgba(245, 245, 220, 0.897);
 @include sm{
  font-size: 1em;
  text-align: center;
 }
}

.container-img{
 animation-name: img-zomby;
 animation-iteration-count: infinite;
 animation-duration: 18s;
 height: 100%;
 width: 30%;
 overflow: hidden;
 background-position:center;
 background-repeat: no-repeat;
 background-size: 130%;
}


