
  .bottom-blok-backfon{
  width: 100%;
  height: 50vh;
  background-color: rgb(255, 149, 0);
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/wallpapersden.com_it-chapter-two-movie-2019-art_2560x1700.jpg);
  background-position: 50% 25%;
  background-size: cover;
  bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  animation-name: scarymoment;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  overflow: hidden;
  display: inline-block;
  @include sm{
   background-position: 50% 70%;
 }
 }
 .bottom-blok-backfon::before{
  animation-name: bottomfonoverlay;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  content: "";
  display: inline-block;
  width: 200%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  background-color:$blue;
  // background: linear-gradient(to left, transparent 0%, rgb(202, 200, 200) 40%, rgb(170, 170, 170) 60%, transparent 100%);
  transform: translate( 0%,0%);
  opacity: 0.4;
 }

// @keyframes bottomfonoverlay {
//   0%{ 
   
//   }
//   80%{ 
//     filter: blur(5px);
//     transform: translate( -100%, 0%);
//   }
//   100%{
//     filter: blur(5px);
//    transform: translate( 100%, 0%);
   
//   }
// }

 .bottom-navbar{
  width: 100%;
  min-height: 10vh;
  background-color: rgba(222, 184, 135, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // bottom: 0px;
  .icon-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding:0px;
    gap: 25px;
    .list-item{
      font-size: 40px;
      @include sm{
        font-size:40px;
      }
      .item_link{
        color: red;
        animation-name: bottom-icon;
        animation-duration: 8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        display: inline-block;
        &:hover{
          transition: 0.7s;
          transform: rotate(1turn) scale(1.3,1.3);
          color: rgb(255, 204, 0);
          display: inline-block;
        }
      }
    }
  }
}
@include sm{
@keyframes bottom-icon {
  0%{
color: rgb(207, 0, 0);

  }
  40%{
transform: rotate(0turn);
color: rgb(207, 0, 0);
font-size: 40px;
  }
  52%{
    transform: rotate(1turn);
   font-size: 10px;
    color: rgba(0, 0, 0, 0.984);
  }
  65%{
    transform: rotate(0turn);
    color: rgb(207, 0, 0);
    font-size: 40px;
  }
  100%{
    color: rgb(207, 0, 0);
  
  }
}
}
@keyframes scarymoment {
  0%{
opacity: 0;
  }
  44%{
    opacity: 0;
  }
  45%{
    opacity: 1;
  }
  46%{
    opacity: 0;
  }
  47%{
    opacity: 1;
  }
   48%{
opacity: 0;
  }
   49%{
opacity: 1;
  }
   60%{
opacity: 0;
  }
  94%{
    opacity: 0;
      }
  95%{
    opacity: 1;
  }
  96%{
    opacity: 0;
  }
  97%{
    opacity: 1;
  }
   98%{
opacity: 0;
  }
   99%{
opacity: 1;
  }
   100%{
opacity: 0;
  }
}