
.footer-backfon{
 height: 70vh;
 margin: 10px 0px 0px 0px;
 position: relative;

 
@include sm{
  height: 70vh;
  margin: 5px 5px 0px 5px;
}
}

.img{
  background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary4.jpg);
  background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
  background-position: 25% 10%;
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: cover;
  height: inherit;
  font-size: 3rem;
  z-index: -1;
  @include sm{
    background-position: 25% 60%;
  }
  &_overlay{
   background-color: rgb(0, 0, 0,1);
   opacity: 0.4;
   width: inherit;
   height: inherit;
   box-shadow: inset 0px 0px 50px 50px black;
  }
 }
 
.slide-fon {
 background-color: rgba(255, 255, 255, 0);
 width: 100%;
 height: 55%;
 position: absolute;
 z-index: 1;
 top: 22.5%;
 
 @include sm{
  height: 35%;
  top: 32.5%;

}
}

.slide-blok {
 height: 100%;
 position: absolute;
 left: 50%;
 right: 5%;
 display: flex;
 gap: 50px;
 flex-wrap: nowrap;
 justify-content: center;
 overflow: hidden;
 border-radius: 50px;
 background-color: rgba(240, 248, 255, 0);

 @include sm{
  left: 15px;
  right: 15px;
  border-radius: 70px;
}
}

.slide-blok::after {
 content: "";
 position: absolute;
 width: 30%;
 height: 100%;
 right: 0px;
 transform: scale(-1, 1);
 background: linear-gradient(
  to right,
  rgb(0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 100%
 );
 z-index: 1;
 @include sm{
  background: linear-gradient(
  to right,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 100%
 );
 }
}
.slide-blok::before {
 content: "";
 position: absolute;
 width:30%;
 height: 100%;
 left: 0px;
 background: linear-gradient(
  to right,
  rgb(0, 0, 0) 0%,
  rgba(255, 255, 255, 0) 100%
 );
 z-index: 1;
 @include sm{
  background: linear-gradient(
  to right,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 100%
 );
 }
}

.blok-img-anime {
 animation-name: anime;
 animation-duration: 50s;
 animation-direction: alternate-reverse;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 border-radius: 100px;
 transform: rotate(45deg);
 @include sm{
  animation-duration: 50s;
 }
}
@keyframes anime {
 0% {
  transform: translateX(1500px);
 }

 100% {
  transform: translateX(-1500px);
 }
}


.blok-img {
  
  max-height: 100%;
  max-width: 100%;
  border-radius: 100px;
  
 @include sm{
  border-radius: 70px;
  max-height: 100%;
  max-width: 100%;

 }
}