@import"pressets/skins";
@import"mixins/mixins";

// .headers_fixed{
//   position: fixed;
//   top: 0;
//   background: #0244ed9c; 
// }
.header {
 height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-content: center;
 z-index: 2;
 position: fixed;
 width: 100%;
 background-color: #00000046;
 box-shadow:  0px 1px 7px 2px #000000de;
@include sm{
  min-height: 4.5vh;
  background: #0d101b9a;
}
 .logo {
  letter-spacing: 2px;
  font-family: "roboto slab";
  font-size: 1rem;
  text-transform: uppercase;
  @include sm{
    
  }
  &_accent {
    box-shadow: inset 0px 0px 5px 2px rgb(159, 10, 5);
   display: inline-block;
   letter-spacing: 2px;
   border: 2px solid red;
   margin-right: 2px;
   margin-left: 17px;
   padding: 3px 3px 3px 4px;
   text-decoration: none;
   color: #ffffffcb;
   transition: 0.5s;
  &:hover {
    transform: scale(1.05, 1.051);
  color: $yellow;
   }
  }
 }
 .navbar {
  margin-right: 25px;

  &-list {
    list-style: none;
    display: flex;
    gap: 15px;
    &_item {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 1em;
     color: #ffffffac;
     text-decoration: none;
     transition: 0.5s;
     display: inline-block;
     @include sm{
      display: none;
     }
     &:focus {
      color: rgba(219, 0, 44, 0.858);
     }
     &:hover {
      transform: translate(0px -10px);
      color: $yellow;
     }
    }
   }
 }
}



.backfon {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -3;
  overflow: hidden;
  box-shadow: inset 0px 0px 200px 200px rgb(0, 0, 0);
 display: flex;
  &-img {
   animation-name: backfon1;
   animation-duration: 11s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   z-index: -1;
   width: 100vw;
   height: 100vh;
   overflow-y: hidden;
   position: absolute;
   background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary.jpg);
    @include sm{
      background-position: 50% 50%;
      animation-name: backfon;
      animation-duration: 12s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      background-image: url(https://raw.githubusercontent.com/emma-grant/andersonhome.ru/master/img/scary.jpg);
    }
   &_overlay {
     background-color: #2d3651;
     width: 100%;
     height: 100vh;
     z-index: -1;
     background-position: center;
     background-size: cover;
     position: absolute;
     opacity: 0.4;
    }
  }
  
 }
 

 

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
  .content-bar {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    &_button {
      align-items: center;
      justify-content: center;
      display: flex;
      position: relative;
      overflow: hidden;
      font-family: Georgia, 'Times New Roman', Times, 'Times New Roman', Times, serif;
      box-shadow: inset 0px 4px 5px 0px rgb(177, 177, 177);
      width: 163px;
      height: 39px;
      background: linear-gradient(
                      to top,
                      rgba(171, 170, 170, 0.779), $blue );
      border: 1.5px solid $blue;
      text-align: center;
      color: #dfdfdf;
      transition: 1s;
      border-radius: 5px;
      @include sm{
        width: 29vw;
        height: 4vh;
        font-size: 0.9em;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
//TODO: разобраться почему не меняется шрифт кнопки и при ховер меняется размер текста
         &:hover {
         background-color:  #ffbd16d2;
         color: #ffffff;
         transform: scale(1.05, 1.05);
      }
     }
   }
//TODO: СДЕЛАТЬ ДЕКОМПОЗИЦИЮ
   .content-bar_button--action{
    text-decoration: none;
    color: #ffffffcb;
   }

   .content-bar_button:before{
    animation-name: bottomfonoverlay2;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(to left, transparent 0%, rgb(202, 200, 200) 40%, rgb(170, 170, 170) 60%, transparent 100%);
    transform: translate( -110%, 0%);
   }

  

   .content-title{

    &_text{  
      
    display: inline-block;
    text-shadow:  3px 3px 5px rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 1em;
    color:  red;
    font-size: 4.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    border-top: 1.5px solid rgb(255, 251, 251);
    border-bottom: 1.5px solid rgb(255, 255, 255);
    font-family: "roboto slab";
     
     animation: header-title;
     animation-duration: 14s;
     animation-direction: alternate;
     animation-iteration-count: infinite;

     &--accent{
      animation: header-title-accent;
     animation-duration: 4s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     display: inline-block;
     }
     &--accent_2{
      animation: header-title-accent_2;
     animation-duration: 4s;
     animation-direction: alternate;
     animation-iteration-count: infinite;
     display: inline-block;
    
     }
    
     @include sm{
      font-weight: 400;
      font-size: 2em;
     }
    }
   }
  }
   
  .navbar-list_item--home {
    color: #ef1616;
   }
   

 







 



